<div class="container">
  <h2>Contas a Receber</h2>
  <form [formGroup]="contaForm" (ngSubmit)="addOrUpdateConta()">
    <label for="descricao">Descrição:</label>
    <input id="descricao" formControlName="descricao" required>
    <div *ngIf="contaForm.get('descricao')?.invalid && contaForm.get('descricao')?.touched">
      A descrição é obrigatória.
    </div>

    <label for="valor">Valor:</label>
    <input id="valor" type="number" formControlName="valor" required>
    <div *ngIf="contaForm.get('valor')?.hasError('negativeValue')">
      O valor não pode ser negativo.
    </div>
    <div *ngIf="contaForm.get('valor')?.invalid && contaForm.get('valor')?.touched && !contaForm.get('valor')?.hasError('negativeValue')">
      O valor é obrigatório.
    </div>

    <label for="data">Data de Recebimento:</label>
    <input id="data" type="date" formControlName="data" required>
    <div *ngIf="contaForm.get('data')?.invalid && contaForm.get('data')?.touched">
      A data de recebimento é obrigatória.
    </div>

    <label for="status">Status:</label>
    <select id="status" formControlName="status" required>
      <option value="PENDENTE">Pendente</option>
      <option value="RECEBIDO">Recebido</option>
    </select>
    <div *ngIf="contaForm.get('status')?.invalid && contaForm.get('status')?.touched">
      O status é obrigatório.
    </div>

    <label for="categoria">Categoria:</label>
    <select id="categoria" formControlName="categoria">
      <option value="SALÁRIO">Salário</option>
      <option value="INVESTIMENTO">Investimentos</option>
      <option value="REEMBOLSO">Reembolso</option>
      <option value="OUTRO">Outro</option>
    </select>

    <button type="submit">Adicionar Receita</button>
  </form>

  <div *ngIf="receitas.length > 0">
    <h3>Cartões Cadastrados</h3>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>valor</th>
        <th>Data Recebimento</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let receita of receitas">
        <td>{{ receita.id }}</td>
        <td>{{ receita.descricao }}</td>
        <td>{{ receita.valor }}</td>
        <td>{{ formatarData(receita.data) }}</td>
        <td>{{ receita.status }}</td>

        <td>
          <button (click)="editarConta(receita)">Editar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
