<div class="container">
  <h2>Cartões</h2>
  <form [formGroup]="cartaoForm" (ngSubmit)="addOrUpdateCartao()">
    <label for="limite">Limite:</label>
    <input id="limite" type="number" formControlName="limite" required>
    <div *ngIf="cartaoForm.get('limite')?.hasError('negativeValue')">
      O limite não pode ser negativo.
    </div>
    <div *ngIf="cartaoForm.get('limite')?.invalid && cartaoForm.get('limite')?.touched && !cartaoForm.get('limite')?.hasError('negativeValue')">
      O limite é obrigatório.
    </div>

    <label for="descricao">Descrição:</label>
    <input id="descricao" formControlName="descricao" required>
    <div *ngIf="cartaoForm.get('descricao')?.invalid && cartaoForm.get('descricao')?.touched">
      A descrição é obrigatória.
    </div>

    <button type="submit">Salvar Cartão</button>
  </form>

  <div *ngIf="cartoes.length > 0">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Limite</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cartao of cartoes" [ngClass]="{'limite-zero': cartao.limite === 0, 'limite-negativo': cartao.limite < 0}">
        <td>{{ cartao.id }}</td>
        <td>{{ cartao.descricao }}</td>
        <td>{{ cartao.limite }}</td>
        <td>
          <button (click)="verCompras(cartao)">Ver compras</button>
          <button (click)="editarCartao(cartao)">Editar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
