body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #eef2f7;
}

.login-container {
  background: #ffffff;
  padding: 2.5em;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 0.3s ease;
}

.login-container:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  margin-bottom: 1.5em;
  font-size: 1.8em;
  color: #333;
}

.login-container .input-container {
  margin-bottom: 1.5em;
  text-align: left;
}

.login-container label {
  margin-bottom:  0.5em;
  color: #555;
  font-size: 0.9em;
}

.login-container input {
  border: 1px solid #ddd;
  padding: 0.85em;
  font-size: 1em;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}



.login-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}

.password-container {
  position: relative;
}

.password-container input {
  padding-right: 2.5em;
}

.toggle-password {
  position: absolute;
  right: 0.8em;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
}

.toggle-password i {
  font-size: 1.2em;
  color: #333;
}

.login-container button {
  padding: 0.85em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}

.login-container button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 91, 179, 0.4);
}

.login-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}

.password-container {
  position: relative !important;
}

.password-container input {
  padding-right: 2em !important; /* Garante espaço suficiente para o botão do olho */
}

.toggle-password {
  height: 0.5em !important;
  width: 0.5em !important;
  position: absolute !important;
  right: 0.5em !important;
  top: 55% !important;
  transform: translateY(-50%) !important;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  padding: 0 !important;
  font-size: 1.2em !important;
  color: #333 !important;
  display: flex !important;
  align-items: center !important;
}

.login-container button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 91, 179, 0.4);
}
