<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="login">Login:</label>
      <input type="text" id="login" formControlName="login" required>
    </div>
    <div class="password-container">
      <label for="password">Senha:</label>
      <input [type]="passwordFieldType" id="password" formControlName="password" required>
      <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
        <i [class]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
      </button>
    </div>
    <button type="submit">Login</button>
    <button type="button" (click)="redirecionarCadastro()">Cadastrar-se</button>
  </form>
</div>
