<div class="container">
  <section class="form-section">
  <h2>Contas a Pagar</h2>
  <form [formGroup]="contaForm" (ngSubmit)="addOrUpdateConta()">

    <label for="descricao">Descrição:</label>
    <input id="descricao" formControlName="descricao" required>
    <div *ngIf="contaForm.get('descricao')?.invalid && contaForm.get('descricao')?.touched">
      A descrição é obrigatória.
    </div>

    <label for="valor">Valor:</label>
    <input id="valor" type="number" formControlName="valor" required>
    <div *ngIf="contaForm.get('valor')?.hasError('negativeValue')">
      O valor não pode ser negativo.
    </div>
    <div *ngIf="contaForm.get('valor')?.invalid && contaForm.get('valor')?.touched && !contaForm.get('valor')?.hasError('negativeValue')">
      O valor é obrigatório.
    </div>

    <label for="data">Data de Vencimento:</label>
    <input id="data" type="date" formControlName="data" required>
    <div *ngIf="contaForm.get('data')?.invalid && contaForm.get('data')?.touched">
      A data de vencimento é obrigatória.
    </div>

    <label for="status">Status:</label>
    <select id="status" formControlName="status" required>
      <option value="PENDENTE">Pendente</option>
      <option value="PAGA">Paga</option>
    </select>
    <div *ngIf="contaForm.get('status')?.invalid && contaForm.get('status')?.touched">
      O status é obrigatório.
    </div>

    <label for="categoria">Categoria:</label>
    <select id="categoria" formControlName="categoria">
      <option value="ALIMENTAÇÃO">Alimentação</option>
      <option value="MORADIA">Moradia</option>
      <option value="TRANSPORTE">Transporte</option>
      <option value="SAÚDE">Saúde</option>
      <option value="EDUCAÇÃO">Educação</option>
      <option value="LAZER_E_ENTRETIMENTO">Lazer e Entreterimento</option>
      <option value="OUTRO">Outro</option>
    </select>
    <div *ngIf="contaForm.get('categoria')?.invalid && contaForm.get('categoria')?.touched">
      A categoria é obrigatória.
    </div>

    <button type="submit">Salvar Conta a pagar</button>
  </form>
  </section>
  <div *ngIf="contas.length > 0">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>valor</th>
        <th>Data Vencimento</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conta of contas">
        <td>{{ conta.id }}</td>
        <td>{{ conta.descricao }}</td>
        <td>{{ conta.valor }}</td>
        <td>{{ formatarData(conta.data) }}</td>
        <td>{{ conta.status }}</td>

        <td>
          <button (click)="editarConta(conta)">Editar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
