<div class="container">
  <h2>Cartões</h2>
  <form [formGroup]="cartaoForm" (ngSubmit)="addCartao()">
    <label for="limite">Limite:</label>
    <input id="limite" type="number" formControlName="limite" required>
    <div *ngIf="cartaoForm.get('limite')?.hasError('negativeValue')">
      O limite não pode ser negativo.
    </div>
    <div *ngIf="cartaoForm.get('limite')?.invalid && cartaoForm.get('limite')?.touched && !cartaoForm.get('limite')?.hasError('negativeValue')">
      O limite é obrigatório.
    </div>

    <label for="descricao">Descrição:</label>
    <input id="descricao" formControlName="descricao" required>
    <div *ngIf="cartaoForm.get('descricao')?.invalid && cartaoForm.get('descricao')?.touched">
      A descrição é obrigatória.
    </div>

    <button type="submit">Adicionar Cartão</button>
  </form>

  <div *ngIf="cartoes.length > 0">
    <h3>Cartões Cadastrados</h3>
    <ul>
      <li *ngFor="let cartao of cartoes">
        {{ cartao.id }} - {{ cartao.descricao }} - {{ cartao.limite }}
      </li>
    </ul>
  </div>
</div>
