<div class="container">
  <h2>Compras com Cartão de Crédito</h2>
  <form #compraFormElement="ngForm" [formGroup]="compraForm" (ngSubmit)="addOrUpdateCompra()">
    <label for="descricao">Descrição:</label>
    <input id="descricao" formControlName="descricao" required>
    <div *ngIf="compraForm.get('descricao')?.invalid && compraForm.get('descricao')?.touched">
      A descrição é obrigatória.
    </div>

    <label for="valor">Valor:</label>
    <input id="valor" type="number" formControlName="valor" required>
    <div *ngIf="compraForm.get('valor')?.hasError('negativeValue')">
      O valor não pode ser negativo.
    </div>
    <div *ngIf="compraForm.get('valor')?.invalid && compraForm.get('valor')?.touched && !compraForm.get('valor')?.hasError('negativeValue')">
      O valor é obrigatório.
    </div>

    <label for="quantidadeParcelas">Quantidade de Parcelas:</label>
    <input id="quantidadeParcelas" type="number" formControlName="quantidadeParcelas" required>
    <div *ngIf="compraForm.get('quantidadeParcelas')?.hasError('negativeValue')">
      A quantidade de Parcelas não pode ser negativa.
    </div>

    <label for="dataCompra">Data da Compra:</label>
    <input id="dataCompra" type="date" formControlName="dataCompra" required>
    <div *ngIf="compraForm.get('dataCompra')?.invalid && compraForm.get('dataCompra')?.touched">
      A data da compra é obrigatória.
    </div>

    <label for="categoria">Categoria:</label>
    <select id="categoria" formControlName="categoria">
      <option value="ALIMENTAÇÃO">Alimentação</option>
      <option value="MORADIA">Moradia</option>
      <option value="TRANSPORTE">Moradia</option>
      <option value="SAÚDE">Moradia</option>
      <option value="EDUCAÇÃO">Moradia</option>
      <option value="LAZER_E_ENTRETIMENTO">Lazer e Entreterimento</option>
      <option value="OUTRO">Outro</option>
    </select>
    <div *ngIf="compraForm.get('categoria')?.invalid && compraForm.get('categoria')?.touched">
      A categoria é obrigatória.
    </div>

    <label for="cartao">Cartão Utilizado:</label>
    <select id="cartao" formControlName="cartao" required>
      <option *ngFor="let cartao of cartoes" [value]="cartao.id">{{ cartao.descricao }}</option>
    </select>
    <div *ngIf="compraForm.get('cartao')?.invalid && compraForm.get('cartao')?.touched">
      O cartão é obrigatório.
    </div>

    <button type="submit">Salvar Compra</button>
  </form>

  <div *ngIf="compras.length > 0">
    <h3>Compras Registradas</h3>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data de Compra</th>
        <th>Cartão</th>
        <th>
          Parcelas
          <br>
          Pagas / Total
        </th>
        <th>Paga</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let compra of compras" [ngClass]="{'linha-paga': compra.paga, 'linha-vencida': isVencida(compra)}">
        <td>{{ compra.id }}</td>
        <td>{{ compra.descricao }}</td>
        <td>{{ compra.valor }}</td>
        <td> {{ formatarData(compra.dataCompra) }}</td>
        <td>{{ compra.cartao.descricao }}</td>
        <td>{{ compra.parcelas.length === 0 ? "Sem Parcelas" : quantidadeParcelasPagas(compra.parcelas) + " / " + compra.parcelas.length }}</td>
        <td>{{ compra.paga ? 'Paga' : 'Não Paga' }}</td>
        <td>
          <button (click)="editarCompra(compra)">Editar</button>
          <br>
          <button *ngIf="compra.parcelas.length > 0" (click)="verParcelas(compra)">Ver Parcelas</button>
          <br>
          <button *ngIf="!compra.paga" class="btn-paga" (click)="marcarPaga(compra)">Marcar como Paga</button>
          <button *ngIf="compra.paga" class="btn-nao-paga" (click)="marcarNaoPaga(compra)">Marcar como <b>Não</b> Paga</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal de Parcelas de uma Compra -->
  <app-parcelas-modal
    [parcelas]="parcelas"
    [showModal]="showModal"
    (closeModalEvent)="closeModal()">
  </app-parcelas-modal>
</div>
