table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.btn-paga {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-paga:hover {
  background-color: darkblue;
}

.btn-nao-paga {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-nao-paga:hover {
  background-color: darkred;
}

/* Suave cor azul que indica que a Parcela foi paga */
.linha-paga {
  background-color: #e0f7fa;
}

.linha-paga:nth-child(even) {
  background-color: #d0eef2; /* Cor ligeiramente diferente para linhas pares */
}

.linha-paga:hover {
  background-color: #c0e7ec; /* Cor diferente ao passar o mouse */
}

/* Suave cor vermelha que indica que a data de pagamento da Parcela expirou */
.linha-vencida {
  background-color: #ffebee;
}

.linha-vencida:nth-child(even) {
  background-color: #fcdcdc; /* Cor ligeiramente diferente para linhas pares */
}

.linha-vencida:hover {
  background-color: #f9caca; /* Cor diferente ao passar o mouse */
}
